<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table View</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="root">
    <div class="display">
      <div class="section1">
        <div>header</div>
      </div>
      <div class="section2">
        <div>menus</div>
        <div class="menu-displays">m-d1</div>
        <div class="menu-displays">m-d2</div>
        <div class="menu-displays">m-d3</div>
        <div class="menu-displays">m-d4</div>
        <div class="menu-displays">m-d5</div>
        <div class="menu-displays">m-d6</div>
      </div>
      <div class="section3">
        <div>products</div>
        <div class="product-displays">
          p-d1
          <button
            id="addMeBtn1"
            class="addMeBtn"
          >
            Add Me to Cart
          </button>
        </div>
        <div class="product-displays">
          p-d2
          <button
            id="addMeBtn2"
            class="addMeBtn"
          >
            Add Me to Cart
          </button>
        </div>
        <div class="product-displays">
          p-d3
          <button
            id="addMeBtn3"
            class="addMeBtn"
          >
            Add Me to Cart
          </button>
        </div>
        <div class="product-displays">
          p-d4
          <button
            id="addMeBtn4"
            class="addMeBtn"
          >
            Add Me to Cart
          </button>
        </div>
      </div>
      <div class="section4">
        <div>seats</div>
        <div
          id="seat1"
          class="seat-displays"
        >
          Seat 1
        </div>
        <div
          id="seat2"
          class="seat-displays"
        >
          Seat 2
        </div>
        <div
          id="seat3"
          class="seat-displays"
        >
          Seat 3
        </div>
        <div
          id="seat4"
          class="seat-displays"
        >
          Seat 4
        </div>
        <div
          id="seat5"
          class="seat-displays"
        >
          Seat 5
        </div>
      </div>
      <div id="logInfo" class="section5">
        <div>user log</div>
      </div>
    </div>
  </div>
</body>
</html>